<div class="row mb-5">
    <div class="col-lg-4 offset-lg-4">
        <h2 class="titulo text-light text-center mt-2">Calculadora IMC</h2>
 
<!-- Masculino / Femenino -->
        <div class="row">
            <div class="col-lg-6">
                <div class="fondo-item d-flex justify-content-center align-items-center flex-column">
                    <i class="fa-solid fa-mars fs-3"></i>
                    <p>Masculino</p>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="fondo-item d-flex justify-content-center align-items-center flex-column">
                    <i class="fa-solid fa-venus fs-3"></i>
                    <p>Femenino</p>
                </div>
            </div>
        </div>

<!-- Altura -->
        <div class="row">
            <div class="col-lg-12">
                <div class="fondo-item d-flex justify-content-center align-items-center flex-column">
                    <p class="mb-0">Altura</p>
                    <div class="fs-2 fw-bolder altura">{{altura}} <span class="fs-6 cm">cm</span> </div>
                    <input  type="range" 
                            class="form-range px-4" 
                            (input) = "cambiarAltura($event)"
                            [value] = "altura" 
                            min = "120" 
                            max = "220"
                            
                    >
                </div>
            </div>
        </div>

<!-- Peso / Edad -->
        <div class="row">
            <div class="col-lg-6">
                <div class="fondo-item d-flex justify-content-center align-items-center flex-column">
                    <p class="mb-0">Peso</p>
                    <div class="fs-2 fw-bolder altura">{{peso}}</div>
                    <div>
                        <i class="fa-solid fa-minus sumaResta" (click) = " peso = peso - 1 "></i>
                        <i class="fa-solid fa-plus sumaResta" (click) = " peso = peso + 1 "></i>
                    </div>
                </div>                
            </div>
            <div class="col-lg-6">
                <div class="fondo-item d-flex justify-content-center align-items-center flex-column">
                    <p class="mb-0">Edad</p>
                    <div class="fs-2 fw-bolder altura">{{edad}}</div>
                    <div>
                        <i class="fa-solid fa-minus sumaResta" (click) = " edad = edad - 1 "></i>
                        <i class="fa-solid fa-plus sumaResta" (click) = " edad = edad + 1 "></i>
                    </div>
                </div> 
            </div> 
        </div>

<!-- Calcular -->
        <div class="row">
            <div class="col-lg-12">
                <button class="btn btn-primary btn-lg btn-block btn-color">CALCULAR</button>
            </div>
        </div>

    </div>
</div>
