.fondo-item {
    background-color: #ff111328;
    height: 130px;
    border-radius: 20px;
    color: #fff;
}

.altura {
    margin-top: -15px;
}

.cm {
    font-weight: 400;
    margin-left: -8px;
}

.form-range::-webkit-slider-thumb {
    background-color: #ff3366;
}
