<div class="row">
    <div class="col-lg-4 offset-lg-4">
        <h2 class="titulo text-light text-center mt-2">RESULTADO</h2>
        <div class="row">
            <div class="col-lg-12">
                <div class="fondo-item d-flex justify-content-center align-items-center flex-column">
                    <p class="resultado">{{ resultado }}</p>
                    <p class="estiloNumero">{{ IMC }}</p>
                    <p class="interpretacion">{{ interpretacion }}</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <button routerLink="/" class="btn btn-primary btn-lg btn-color">
                    RE-CALCULAR
                </button>
            </div>
        </div>
    </div>
</div>
